.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputParam {
    position: relative;
    margin-top: 10px;
}

.inputParamBody {
    width: 100%;
    display: flex;
    align-items: center;
}

.inputParamBody.checked {
    margin-top: 20px;
}

.paramsBox {
    position: relative;
}

.paramsLabel {
    position: relative;
}

.paramsInput {
    border: none;
    outline: none;
    width: 100%;
    padding: 3px 5px;
    font-size: 12px;
}

.paramsInput::placeholder {
    opacity: 0;
}

.paramsSpan {
    position: absolute;
    top: 1px;
    left: 5px;
    transition-duration: 300ms;
    cursor: text;
    font-size: 12px;
    transform: translateY(0px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.paramsLabel:focus-within > .paramsSpan,
.paramsInput:not(:placeholder-shown) + .paramsSpan {
    transform: translateY(-16px);
    font-size: 10px;
}

.inputHandle {
    top: 10px;
    left: -14.5px;
}

.output {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.outputHandle {
    top: 11px;
    right: -14.5px;
}

.outputBody {
    margin-left: 10px;
}


.extraOutput {
    position: relative;
    margin-top: 10px;
}

.extraOutput .handle {
    top: 11px;
    right: -14.5px;
}

.extraOutputBody {
    width: 100%;
    display: flex;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-left: 10px;
}

.extraOutputBody input, select {
    box-sizing: border-box;
    max-width: 100px;
    width: 100%;
    padding: 1px 2px;
}

.checkbox {
    width: 12px;
    height: 12px;
    display: block;
    margin-right: 5px;
    margin-top: 1px;
}

.label {
    margin-left: 3px;
    margin-bottom: 3px;
}

.paramsInputHandle {
    top: 10px;
}

.stringMap {
    margin-bottom: 30px;
}


.stringMapper {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.stringMapperInput {
    width: 100%;
}

.stringMapperInput::placeholder {
    font-size: 12px;
}

.addStringMapperButton {
    width: 100%;
}

.delStringMapperButton {
    border: none;
    background-color: rgb(99, 179, 237);
    cursor: pointer;
    padding: 2px 7px;
}