.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.outputNode .handle {
    top: 21px;
    right: -4.5px;
}

.body .handle {
    top: 11px;
    left: -14.5px;
}


.output {
    position: relative;
    margin-top: 10px;
}

.outputBody {
    width: 100%;
    display: flex;
}

.outputBody input {
    box-sizing: border-box;
    width: inherit;
    margin-left: 10px;
}