.button {
    position: absolute;
    z-index: 4;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #FFFFFF;
    box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px, rgb(9 30 66 / 8%) 0px 2px 4px 1px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(198,195,181, 0.9);
}

.arrow {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.arrow.right {
    transform: rotate(180deg);
}

.arrow.top {
    transform: rotate(90deg);
}

.arrow.bottom {
    transform: rotate(-90deg);
}