*,
body,
html,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt5 {
    margin-top: 5px;
}

.btn {
    padding: 0px 5px;
    height: fit-content;
}

.react-flow {
    background: #1a365d14;
}

div.react-flow__node {
    background-color: #4299e13b;
    /*border: 1px solid #FFFFFF;*/
}

.div.react-flow__node.string_mapper {
    width: 300px;
}

.react-flow__node-group {
    width: auto;
}

.default-button {
    background: #ebf8ff;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    min-height: 30px;
    padding: 0 15px;
    position: relative;
    z-index: 5;
    transition: opacity 0.3s linear;
    margin-left: 5px;
    border: 1px solid #000000;
}

.default-button:hover {
    opacity: 0.9;
}

.default-input {
    position: relative;
    z-index: 5;
    min-height: 30px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background: rgb(99, 179, 237);
    max-width: 145px;
    width: 100%;
    margin: 0;
    outline: none;
    padding: 0 7px;
}

.default-input::placeholder {
    color: #000000;
}

.react-flow__attribution {
    display: none;
}
