.output-node {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .react-flow__handle {
    top: 21px;
    right: -4.5px;
  }

  .body {
    .react-flow__handle {
      top: 11px;
      left: -14.5px;
    }
  }

  .output {
    position: relative;
    margin-top: 10px;

    .output-body {
      width: 100%;
      display: flex;

      input {
        box-sizing: border-box;
        width: inherit;
        margin-left: 10px;
      }
    }
  }
}