.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapHandle {
    top: 21px;
    left: -4.5px;
}

.handle {
    top: 11px;
    right: -14.5px;
}

.input {
    position: relative;
    margin-top: 10px;
}

.inputBody {
    width: 100%;
    display: flex;
}

.inputBody input {
    max-width: 100px;
    width: 100%;
    margin-left: 10px;
}