.saveControls {
}

.label {
    width: 100%;

}

.item {
    display: flex;
    width: 100%;
}

.item:first-child {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

.exportButton {
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
}

.button {
    max-width: 80px;
    width: 100%;
}

.selectBox {
    margin-top: 5px;
    display: flex;
    align-items: center;
}