.func-node {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .body {
  }

  .input-param {
    position: relative;
    margin-top: 10px;

    .react-flow__handle {
      top: 8px;
      left: -14.5px;
    }

    .input-param-body {
      width: 100%;
      display: flex;
    }
  }


  .output {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .react-flow__handle {
      top: 11px;
      right: -14.5px;
    }

    .output-body {
      margin-left: 10px;
    }
  }


  .extra-output {
    position: relative;
    margin-top: 10px;

    .react-flow__handle {
      top: 11px;
      right: -14.5px;
    }

    .extra-output-body {
      width: 100%;
      display: flex;

      .options {
        display: flex;
        flex-direction: column;
        width: inherit;
        margin-left: 10px;

        input, select {
          box-sizing: border-box;
          width: inherit;
          padding: 1px 2px;
        }
      }
    }
  }
}