.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.react-flow__node.intersects {
    background-color: #FF004D;
}

.react-flow__node.dragging.intersects-drag {
    cursor: not-allowed;
}

.react-flow__node.intersects-drag {
    border: 2px solid red;
}

.react-flow__node-group {
    width: auto;
}

.react-flow__handle-connecting {
    background: #ff6060;
}

.react-flow__handle-valid {
    background: #55dd99;
}

.react-flow__node-group {
    z-index: -1 !important;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.dndflow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }
}
